/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 200px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
  width: 100%;
}
main {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  
}